@model VirtualCard.Models.Contributor


@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/Details.css"/>

<section class="bussinesscard">
		<div class="flip">
			<div class="front">				
				<div class="top">				
					<div class="logo"><span class="fat">@Html.DisplayFor(model => model.Name[0])</span><span class="skinny">@Html.DisplayFor(model => model.SurName[0])</span></div>				
				</div>
				<div class="nametroduction">
				<div class="name">@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.SurName)</div>
                <div class="introduction">@Html.DisplayFor(model => model.Office)</div>
				</div>	
				<div class="contact">						
					<div class="email">
						<span class="ion-paper-airplane"></span>
                         @Html.DisplayFor(model => model.Email)
					</div>												
					<div class="phone ">
						<span class="ion-ios7-telephone"></span>
                         @Html.DisplayFor(model => model.Telephone)
					</div>
					<div class="float-none">
						<img src="~/unnamed.jpg" width="50" height="64"></img>
					</div>
				</div>						
			</div>
			<div class="back"></div> <!--FIXES FONT RENDERING -->
		</div>
	</section>
	<section class="tooltip">
		<p>
			Hover over the card to see the back.
		</p>
	</section>


